* {
    padding: 0;
    margin: 0;
    background-color: #DFF8EB;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.container {
    display: flex;
    flex-direction: column;
}
/*Display Container Styles*/
#displayText {
    background-color: #FFFFFF;
    text-align: end;
}
.btn {
    width: 50px;
    height: 25px;
}
.btn-Container {
    display: flex;
    gap: 1em;
}
.buttonNums {
    display: grid;
    padding-top: 1em;
    grid-template-columns: repeat(3, 1fr);
    gap: .25em;
}

.buttonOps {
    display: grid;
    padding-top: 1em;
    grid-template-columns: 1fr;
    gap: .25em;
}
