* {
    padding: 0;
    margin: 0;
    background-color: #DFF8EB;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    
}
/* Calculator Body*/
.container {
    display: flex;
    border: 1px solid #000000;
    height: 50vh;
}

/*Display Container Styles*/
#previousDisplay{
    background-color: transparent;
    height: 25px;
    text-align: end;
    font-size: 1rem;
}
#currentDisplay {
    background-color: transparent;
    height: 50px;
    text-align: end;
    font-size: 2rem;
}
.displayContainer {
    grid-column: span 4;
}
/* Button Container Styles */
.btn-Container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5,100px);
}
.btn {
    font-size: 2rem;
}

